.home-dropdown {
  display: inline;
  height: 38px;
}

.home-dropdown .btn-secondary {
  background-color: whitesmoke;
  border: none;
  color: black;
  font-size: 14px;
  padding: 6px 12px;
  height: 38px;
}

.module-btn {
  color: white;
  background-color: red;
  margin-right: 4px;
}

.home-btn {
  background-color: whitesmoke;
  margin-right: "4px";
  border: 1px solid lightgray;
}

.home-status-btn {
  background-color: whitesmoke;
  width: 100%;
  margin-bottom: 5px;
  border: 1px solid lightgray;
}

.home-publish-btn {
  background-color: lightgreen;
  margin-right: "4px";
  width: 90px;
  height: 30px;
  border: 1px solid lightgray;
  text-align: center;
}

.home-unpublish-btn {
  background-color: whitesmoke;
  margin-right: "4px";
  width: 90px;
  height: 30px;
  text-align: center;

  border: 1px solid lightgray;
}

.home-pub-text {
  font-size: 15px;
  text-align: center;
}

.modules-col .list-group {
  width: 100%;
  font-weight: 600;
}

.modules-col .list-group-item {
  border-left: 2px solid green;
  font-size: 0.8rem;
}

.modules-ellipsis {
  margin-left: 15px;
  margin-right: 5px;
}

.module-title {
  border: none;
  border-left: none;
  margin-top: 10px;
}

.check {
  margin-right: 2px;
  width: 15px;
}

.module-link {
  text-decoration: none;
  color: darkred;
}

.btn-group {
  margin-bottom: 15px;
}

.status-link{
    text-decoration: none;
    color: darkred;
}

.status-text{
    text-decoration: none;
    color: lightgray;
}